/RANS_run/processor*
/RANS_run/0.org
/RANS_run/log_*
/RANS_run/[0-9]*
/RANS_run/system/*
!/RANS_run/system/fvSchemes
!/RANS_run/system/fvSolution
/RANS_run/constant/extendedFeatureEdgeMesh
/RANS_run/constant/polyMesh
/RANS_run/constant/triSurface
/RANS_run/logs/*

/LES_run/processor*
/LES_run/0.org
/LES_run/log_*
/LES_run/system/*
!/LES_run/system/fvSchemes
!/LES_run/system/fvSolution
/LES_run/logs/*
/LES_run/constant/extendedFeatureEdgeMesh
/LES_run/constant/polyMesh
/LES_run/constant/triSurface
/LES_run/postProcessing
!/LES_run/postProcessing/csvImport.sh
!/LES_run/postProcessing/extractData.py
